$background : #ca595d;
$flesh : #f59064;

$white : #f3f3f3;
$activeLink : #fdb3b0;
$dark : #c1211e;
$text: rgb(29, 29, 29);
$textligth: rgb(121, 121, 121);
$cancel: rgb(194, 194, 194);
$border: rgba(0, 0, 0, 0.095);


@font-face{
    src: url('./Lato-Regular.ttf');
    font-family: lato;
}
@font-face{
    src: url('./Lobster-Regular.ttf');
    font-family: lobster;
}
* {
    font-family: lato;
    box-sizing: border-box;
}
.App{
}

.Content{
    // background: white;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 220px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    .notFoundScreen{
        grid-column: 1/4;
        background: white; 
        padding: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        border-radius: 2px;
        font-family: lobster;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1), 1px 1px 7px rgba(0, 0, 0, 0.041);
    }
}
.searchInput{
    // background: pink;
    grid-column: 1 / 4;
    display: flex;
    form{
        margin-left: auto;
        input{
            border: solid $border 1px;
            padding: 2px 7px;
            font-size: 15px;
            border-radius: 2px;
            height: 30px;
        }
    }
}
.cardContainer{
    background: white;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1), 1px 1px 7px rgba(0, 0, 0, 0.041);
    hr{
        background: $border;
        display: inline-block;
        width: 100%;
        height: 1px;
        border: none;
        margin:  0 auto;
        margin-bottom: 10px;
    }
    &__loading{
        @extend .cardContainer;
        height: 343px;
        &-Image{
            display: inline-flex;
            width: 200px;
            height: 200px;
            background: $border;
            border-radius: 2px;
            .css-1d8ny0s{
                margin: auto;
            }
        }
    }

}
.addToCartControls{
    display: flex;
    &__con{
        // background: pink;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        height: 30px;
        margin-left: auto;
        position: relative;
        border-radius: 2px;
        transition: 0.3s ease all;
        &-show{
            @extend .addToCartControls__con;
            height: 70px;
            // background: transparent;
            // overflow: visible;
        }
    }
    &__label{
        position: absolute;
        background: $dark;
        color: white;
        z-index: 2;
        width: 110px;
        height: 30px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        right: 0;
        bottom: 0;
        transition: 0.2s ease all;
        opacity: 1;
        border-radius: 2px;
        cursor: pointer;
        &-hide{
            @extend .addToCartControls__label;
            transform-origin: top right;
            bottom: -30px;
            opacity: 0;
        }
    } 
    &__confirmationBox{
        position: absolute;
        // background: $dark;
        bottom: 100%;
        width: 100%;
        // padding: 0 10px;
        box-sizing: border-box;
        transition: 0.3s ease all, 0.2s ease opacity;
        opacity: 0;
        display: flex;
        flex-direction: column;
        &-show{
            @extend .addToCartControls__confirmationBox;
            bottom: 0;
            opacity: 1;
            // top: 0;
            // right: 0;
            // opacity: 1;
        }
        div{
            // background: white;
            input{
                // padding: 0 14px;
                text-align: center;
                border: solid $border 1px;
                border-radius: 2px;
                height: 30px;
                width: 200px;
            }
        }
        .btnHolder{
            margin-top: 10px;
            // background: lightblue;
            display: flex;
            justify-content: space-between;
            button{
                width: 48%;
                border: none;
                height: 30px;
                border-radius: 2px;
                cursor: pointer;
            }
            .btnConfirm{
                background: $dark;
                color: white;
            }
            .btnCancel{
                background: $border;
                color: $text;
            }
        }

    }
    &__loading{
        display: inline-block;
        height: 30px;
        width: 110px;
        margin-left: auto;
        background: $border;
    }
}
.react-datepicker-popper{
    z-index: 999;
}
.cardTextContainer{
    padding: 10px;
    .cardLabel{
        text-align: left;
        font-size: 18px;
        font-family: lato;
        margin: 0;
        margin-bottom: 5px;
        a{
            color: $text;
        }
    }
    .cardSource{
        text-align: left;
        font-size: 13px;
        margin: 0;
        color: $textligth;
    }
    &__loading{
        height: 82px;
        display: inline-block;
        padding: 10px;
        text-align: left;
        .title{
            height: 21px;
            background: $border;
            margin-bottom: 5px;
            border-radius: 2px;
        }
        .source{
            display: inline-block;
            width: 70px;
            height: 15px;
            background: $border;
            border-radius: 2px;
        }
    }
}
.cardImageContainer{
    background: $dark;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    .img{
        opacity: 0.9;
        border-radius: 2px;
    }
}

.navigation{
    height: 60px;
    // background: pink;
    display: flex;
    justify-content: center;
    &_holder{
        display: flex;
        justify-content: center;
        align-items: center;
        // background: coral;
        width: 700px;
        .title{
            margin: 0;
            margin-right: auto;
            font-family: lobster;
            color: $dark;
        }

    }
    &_link{
        position: relative;
        margin-left: 5px;
        &:hover .cartlength{
            bottom: -20px;
            width: 20px;
            height: 20px;
            font-size: 10px;
            margin-left: -10px;
        }
        .cartlength{
            transform-origin: center;
            transition: 0.3s cubic-bezier(1,-0.46, 0.7, 2.33) all;
            position: absolute;
            bottom: -10px;
            left: 50%;
            margin-left: -5px;
            color: white;
            font-size: 0px;
            background: $dark;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 6px;
            height: 6px;
            border-radius: 100px;
            animation: pop 0.3s ease 1 forwards;
            // &-pop{
                // bottom: -20px;
                // width: 20px;
                // height: 20px;
                // font-size: 10px;
                // margin-left: -10px;
            // }
        }
        .cartlength-pop{
            @extend .cartlength;
            bottom: -20px;
            width: 20px;
            height: 20px;
            font-size: 10px;
            margin-left: -10px;
        }
        a{
            // margin: 10px;
            // background: lightblue;
            padding: 5px;
            text-decoration: none;
            color: $text;
            &:hover{
                color: $dark;
                text-decoration: none;
            }
        }
    }
}